.meme-generator{
  margin: 20px auto;
  width: 400px;
  font-family: 'Comic Sans MS';
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.box{
  width: 50%;
  height:50%;
  margin: auto; 
}

#meme {
  width: 100%;

}

h1 {
  text-align: center;
}

body {
  background-color: rgb(156, 232, 224);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
